.sidebar {
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  background-color: #2c3e50;
  color: white;
  transition: width 0.3s ease;
  z-index: 999;
  overflow-x: hidden;
}

.sidebar.open {
  width: 250px;
}

.sidebar.closed {
  width: 60px;
}

.sidebar-toggle {
  position: fixed;
  top: 70px;
  left: 10px;
  width: 45px;
  height: 45px;
  background-color: #34495e;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  z-index: 2000;
}


.sidebar-toggle:hover {
  background-color: #3d566e;
}

.hamburger {
  display: inline-block;
}

.sidebar-menu {
  margin-top: 50px;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.menu-item:hover {
  background-color: #34495e;
}

.menu-item.active {
  background-color: #e91e63;
  border-left: 4px solid #c2185b;
}
.icon-menu {
  width: 34px;
  height: 34px;
  margin-right: 30px;
}
.menu-icon {
  font-size: 20px;
  min-width: 24px;
  margin-right: 12px;
  padding-bottom: 10px;
}

.menu-text {
  font-size: 14px;
  font-weight: 500;
}

.sidebar.closed .menu-text {
  display: none;
}

@media (max-width: 768px) {
  .sidebar-toggle {
    top: 150px;
    left: 10px;
    width: 42px;
    height: 42px;
    font-size: 20px;
  }

  .sidebar-menu {
    margin-top: 150px;
  }
}